/* 

 */


.jumbotron-fluid {
    background-color: #12343b !important; 
    color: antiquewhite;
}

.container1 {
    background-color: #c89666 !important;
}


.projects-card {
    padding-bottom: 1.25rem;
    margin-bottom: 7%;
    margin-top: 5%;
}
/* #card-col {
    align-self: center;
} */